---
import { currentSponsors } from '../../data/currentSponsors.ts'
import SponsorCategory from './SponsorCategory.astro'
---
<div class="outer-container">
    <h1 class="title">Sponsors</h1>
    <p class="intro">We rely on your support to succeed.</p>
    <p class="intro">Thank you to our generous sponsors who make our science happen.</p>

    <div class="sponsors">
        {
            currentSponsors.map((sponsor)=> (
                <>
                    <p class="sponsor-title">PLATINUM</p>
                    <SponsorCategory 
                        name="" 
                        icons={sponsor.icons}
                        path="../../../static/sponsor-icons/"/>
                </>
            ))
        }
    </div>
    <a href="#want-to-sponsor-us"><button class="sponsor-us"><p>Support Us</p></button></a>
</div>

<style>
    * {
        --sponsor-image-height: 6rem;
        --sponsor-container-min-height:40rem;
        margin:0;
    }

    .title {
        font-size:4.688rem;
        margin-bottom:1rem;
        display:block;
    }

    .intro {
        font-size:1.4rem;
        font-weight:500;
    }

    .outer-container{
        width:100%;
        padding:6rem;
        background: var(--color-primary-green);
        display:flex;
        align-items: start;
        flex-direction:column;
        border-bottom: 2px solid black;
    }

    .sponsor-title {
        text-align:center;
        font-size:1.45rem;
        font-weight:lighter;
        margin: 3rem auto 1.5rem auto;
    }

    .sponsors {
        min-height:var(--sponsor-container-min-height);
        width:100%;
    }

    .sponsor-image {
        height:var(--sponsor-image-height);
    }

    a {
        margin: 0 auto;
    }

    .sponsor-us {
        border-radius:5px;
        font-size:1.575rem;
        background:var(--color-primary-yellow);
        text-align:center;
        cursor:pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5.3px;
        width:16rem;
        height:4.5rem;
    }

    .sponsor-us:hover {
        transform: translateY(-2px);
    }


    @media (max-width: 880px) {
        .outer-container {
           padding:4rem 3rem;
        }

        .title {
            font-size:3.6rem;
        }

        .sponsor-image {
            max-width:290px;
        }
    }
</style>