---
import SponsorCategory, {type SponsorCategoryProps} from './SponsorCategory.astro';

export interface Props {
    year: string,
    categories: SponsorCategoryProps[]
}
const {year, categories} = Astro.props as Props;
---

<div class="outer-container">
    <div class ="project-container">
        <div class="line-block">
            <p class="year">{year}</p>
            <div class ="marker"></div>
        </div>
        <div class="info-block">
            <div class="project-block">
                <div class ="info-container">
                    {
                        categories.map((category)=> (
                            <SponsorCategory name={category.name} 
                                icons={category.icons} 
                                path="../../../static/sponsor-icons/"/>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    * {
        padding:0;
        margin:0;
        box-sizing: border-box;

        --marker-size: 15px;
        --max-icon-container-size: 330px;
        --year-horizontal-shift: 5rem;
        
        --marker-horizontal-shift: -9px;

        --outer-container-web-padding:4rem;

        --project-container-padding:2.8rem;
        --project-container-min-height:30rem;
        --project-container-min-width:340px;

        --info-container-mobile-width:100%;

        --line-width: 3.5px;

        --project-block-padding-top: 5rem;
        --project-block-screen-proportion: 83%;
        --line-block-screen-proportion:17%;
    }

    .marker {
        position:absolute;
        width:var(--marker-size);
        height: var(--marker-size);
        border-radius: 50%;
        top: calc(50% + calc(var(--project-block-padding-top)/2) - calc(var(--marker-size)/2));
        right:var(--marker-horizontal-shift);
        background: black;
    }

    .outer-container {
        width: 100%;
        padding: 0 var(--outer-container-web-padding) 0 0;
    }

    .info-block {
        width:var(--project-block-screen-proportion);
        padding-top: var(--project-block-padding-top);
        padding-left: 4rem;
    }

    .project-container{
        display:flex;
        flex-direction: row;
        width:100%;
        padding: 0 var(--outer-container-web-padding) 0 0;
    }

    .line-block {
        width:var(--line-block-screen-proportion);
        border-right: var(--line-width) solid black;
        position:relative;
        display:flex;
        align-items: center;
        justify-content: right;
    }

    .year {
        margin-top:var(--project-block-padding-top);
        margin-right: 2rem;
        font-weight:500;
        font-size: 1.125rem;
    }

    .project-block{
        width:100%;
        min-height:var(--project-container-min-height);
        background:var(--color-primary-yellow);  
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        padding: var(--project-container-padding);
        border: 2px solid var(--color-primary-black);
        border-radius: var(--border-radius-md);
        /* min-width: var(--project-container-min-width); */
        box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5.3px;
        position:relative;
    }

    .info-container {
        display:flex;
        flex-direction: column;
        width:100%;
    }

    @media (max-width: 880px) {
        .outer-container {
            padding-top: var(--outer-container-mobile-padding);
            padding-right:1rem;
        }

        .info-container {
            width:var(--info-container-mobile-width);
        }

        .marker {
            left:var(--marker-horizontal-shift);
        }

        .year {
            font-size: 1.6rem; 
            font-weight:600;
            margin-left: calc(var(--year-horizontal-shift)/2);
        }

        .project-title {
            font-size: 2.5rem;
        }

        .project-container {
            border-radius: var(--border-radius-md);
            flex-wrap:wrap;
            padding: 0 1rem 0 1rem;
        }

        .info-block {
            padding-top:0;
            padding-left:1rem;
            width:100%;
        }

        .project-block{
            margin-top: 0;
        }

        .line-block {
            border-left: var(--line-width) solid black;
            border-right: 0;
            margin-left:7rem;
            width:auto;
        }

        .title-icon-container {
            max-width: var(--max-icon-container-size);
            display:block;
        }
    }
</style>
