---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Contact Us - UBC iGEM";
---

<Layout title={pageTitle}>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap");

    h1 {
      font-family: Poppins;
      font-size: 4.5em;
      font-weight: 900;
      text-decoration-color: #042a2b;
    }
    h2 {
      font-size: 2em;
      font-family: "Open Sans";
      font-weight: 400;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      text-decoration-color: #042a2b;
    }
    p {
      font-size: 1.3em;
      font-family: "Open Sans";
      text-decoration-color: #042a2b;
    }

    .contact-section {
      background-color: #afdbbf;
      padding-bottom: 5%;
      padding-inline: 10%;
      text-align: left;
      border-top: solid 2.5px black;
      border-bottom: solid 2.5px black;
      text-decoration-color: #042a2a;
      outline: black;
      max-width: 100%;
    }

    .contact-row {
      display: flex;
      align-items: center;
    }

    .faq-section {
      padding-inline: 10%;
      padding-bottom: 5%;
      padding-top: 5%;
      border-bottom: solid 2.5px black;
      text-align: left;
      max-width: 100%;
    }

    .acknowledgement-section {
      display: flex-col;
      padding: 40px 10%;
      text-align: left;
      font-family: "Open Sans", sans-serif;
      max-width: 100%;
    }

    .acknowledgement-text {
      flex: 2;
      font-size: 1.1rem;
      line-height: 1.6;
      color: #333;
      margin-bottom: 50px;
    }

    .footer-content {
      flex: 3; /* Adjust flex proportion as needed */
      display: flex;
      justify-content: space-between; /* Push social icons to the right */
      align-items: flex-start;
    }

    .footer-main-area {
      /* New class for grouping logo and nav */
      display: flex;
      align-items: flex-start;
      gap: 30px; /* Space between logo and nav */
    }

    .footer-nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: column;
      gap: 10px;
    }

    .footer-nav a {
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #333333;
      text-decoration: none;
      transition: color 0.2s ease;
    }

    .footer-nav a:hover {
      text-decoration: underline;
    }

    .social-icons {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
      align-items: flex-start;
    }

    .social-icons img {
      width: 48px;
      height: 48px
    }
  </style>

  <section class="contact-section">
    <h1 style="margin-bottom: 0.75em">Contact us</h1>

    <div class="contact-row">
      <svg width="72" height="72" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0;">
        <mask
          id="mask0_18_4265"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="11"
          y="17"
          width="43"
          height="18"
        >
          <path d="M11.5555 17.3198H53.2839V34.5481H11.5555V17.3198Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_18_4265)">
          <path
            d="M29.6695 33.514C29.7701 33.5922 29.8735 33.6664 29.9801 33.7361C30.0867 33.8058 30.1958 33.8711 30.3074 33.9319C30.4193 33.9923 30.5334 34.0484 30.6497 34.0996C30.7656 34.1508 30.8838 34.197 31.0039 34.2384C31.1239 34.2797 31.2456 34.316 31.3684 34.3475C31.4913 34.3787 31.6154 34.4048 31.7402 34.4258C31.8653 34.4468 31.991 34.4624 32.1173 34.4729C32.2436 34.4835 32.3703 34.4889 32.4969 34.4889C32.6235 34.4889 32.7502 34.4835 32.8765 34.4729C33.0028 34.4624 33.1285 34.4468 33.2536 34.4258C33.3787 34.4048 33.5025 34.3787 33.6257 34.3475C33.7486 34.316 33.8699 34.2797 33.9899 34.2384C34.11 34.197 34.2282 34.1508 34.3445 34.0996C34.4608 34.0484 34.5745 33.9923 34.6864 33.9319C34.7984 33.8711 34.9074 33.8058 35.0137 33.7361C35.1203 33.6664 35.2237 33.5922 35.3244 33.514L53.2683 19.3174C53.162 19.164 53.0473 19.0172 52.9238 18.8775C52.8003 18.7378 52.6693 18.606 52.5301 18.4825C52.3912 18.3587 52.2455 18.2438 52.0928 18.1381C51.9402 18.0322 51.7819 17.9357 51.6179 17.8491C51.454 17.7626 51.2853 17.6862 51.1123 17.6203C50.9393 17.5541 50.7631 17.4987 50.5835 17.4541C50.4039 17.4096 50.2224 17.3762 50.039 17.3536C49.8553 17.3313 49.6713 17.3198 49.4864 17.3198H15.5137C15.3178 17.3205 15.1228 17.3335 14.9288 17.359C14.7347 17.3844 14.5429 17.4226 14.3536 17.4729C14.1642 17.5232 13.979 17.5856 13.7975 17.6598C13.6157 17.7342 13.4395 17.8199 13.2687 17.9166C13.0978 18.0137 12.9339 18.1213 12.7765 18.2397C12.6192 18.3578 12.4697 18.4857 12.3283 18.6229C12.1869 18.7604 12.0549 18.9065 11.9318 19.0609C11.8086 19.2155 11.6957 19.3772 11.5929 19.5466L29.6695 33.514Z"
            fill="#042A2B"></path>
        </g>
        <mask
          id="mask1_18_4265"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="10"
          y="22"
          width="45"
          height="27"
        >
          <path d="M10.8644 22.5703H54.1375V48.6699H10.8644V22.5703Z" fill="white"></path>
        </mask>
        <g mask="url(#mask1_18_4265)">
          <path
            d="M37.2161 35.999C37.0487 36.1295 36.8763 36.253 36.6989 36.3692C36.5214 36.4853 36.3396 36.5942 36.1534 36.6951C35.9672 36.7963 35.7773 36.8896 35.5836 36.9749C35.3898 37.0602 35.1933 37.1372 34.9933 37.2063C34.7933 37.275 34.5911 37.3358 34.3861 37.3877C34.1814 37.4399 33.9749 37.4835 33.7664 37.5185C33.5583 37.5532 33.3489 37.5796 33.1385 37.5971C32.9282 37.6146 32.7172 37.6232 32.5063 37.6232C32.295 37.6232 32.0843 37.6146 31.874 37.5971C31.6634 37.5796 31.454 37.5532 31.2458 37.5185C31.0374 37.4835 30.8308 37.4399 30.6261 37.3877C30.4214 37.3358 30.2189 37.275 30.0192 37.2063C29.8193 37.1372 29.6224 37.0602 29.4287 36.9749C29.235 36.8896 29.045 36.7963 28.8588 36.6951C28.6729 36.5942 28.4911 36.4853 28.3137 36.3692C28.1363 36.253 27.9639 36.1295 27.7962 35.999L10.881 22.9378V43.9753C10.881 44.1293 10.8885 44.2831 10.9032 44.4365C10.918 44.5899 10.9402 44.742 10.97 44.8932C10.9995 45.0441 11.0365 45.1934 11.0803 45.3407C11.1245 45.4884 11.1756 45.6332 11.2336 45.7755C11.2916 45.9178 11.3565 46.0569 11.428 46.1928C11.4994 46.3287 11.5775 46.4608 11.6615 46.5887C11.7458 46.717 11.8361 46.8405 11.9323 46.9595C12.0289 47.0786 12.1305 47.1925 12.2377 47.3017C12.3452 47.4105 12.4574 47.514 12.5746 47.6117C12.6919 47.7094 12.8138 47.8011 12.9398 47.8867C13.0658 47.972 13.1959 48.0513 13.3298 48.1238C13.4636 48.1964 13.6006 48.2623 13.7407 48.3212C13.8808 48.38 14.0235 48.4319 14.1689 48.4768C14.314 48.5214 14.4611 48.5589 14.6096 48.5888C14.7585 48.6191 14.9084 48.6417 15.0595 48.6566C15.2106 48.6719 15.362 48.6792 15.5137 48.6792H49.4863C49.638 48.6792 49.7894 48.6719 49.9405 48.6566C50.0916 48.6417 50.2415 48.6191 50.39 48.5888C50.5389 48.5589 50.686 48.5214 50.8311 48.4768C50.9765 48.4319 51.1192 48.38 51.2593 48.3212C51.3994 48.2623 51.5364 48.1964 51.6702 48.1238C51.8041 48.0513 51.9342 47.972 52.0602 47.8867C52.1862 47.8011 52.3081 47.7094 52.4254 47.6117C52.5426 47.514 52.6548 47.4105 52.7623 47.3017C52.8695 47.1925 52.9711 47.0786 53.0677 46.9595C53.1639 46.8405 53.2542 46.717 53.3382 46.5887C53.4225 46.4608 53.5006 46.3287 53.572 46.1928C53.6435 46.0569 53.7084 45.9178 53.7664 45.7755C53.8244 45.6332 53.8755 45.4884 53.9197 45.3407C53.9635 45.1934 54.0005 45.0441 54.03 44.8932C54.0598 44.742 54.082 44.5899 54.0968 44.4365C54.1115 44.2831 54.119 44.1293 54.119 43.9753V22.6274L37.2161 35.999Z"
            fill="#042A2B"></path>
        </g>
      </svg>
      <h2 style="text-decoration: underline; text-decoration-color: #383f57;">contact@ubcigem.com</h2>
    </div>
    <div class="contact-row">
      <svg width="72" height="72" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask
          id="mask0_18_4277"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="11"
          y="11"
          width="44"
          height="44"
        >
          <path d="M11.0875 11.0874H54.9042V54.9041H11.0875V11.0874Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_18_4277)">
          <path
            d="M50.5605 45.5394C50.5605 48.3012 48.3013 50.5604 45.5396 50.5604H20.4598C17.698 50.5604 15.4388 48.3012 15.4388 45.5394V20.4597C15.4388 17.6979 17.698 15.4387 20.4598 15.4387H45.5396C48.3013 15.4387 50.5605 17.6979 50.5605 20.4597V45.5394ZM45.5396 11.0874H20.4598C15.2918 11.0874 11.0875 15.2917 11.0875 20.4597V45.5394C11.0875 50.7075 15.2918 54.9117 20.4598 54.9117H45.5396C50.7076 54.9117 54.9118 50.7075 54.9118 45.5394V20.4597C54.9118 15.2917 50.7076 11.0874 45.5396 11.0874Z"
            fill="#042A2B"></path>
        </g>
        <path
          d="M32.9996 40.4109C28.9065 40.4109 25.5886 37.093 25.5886 32.9999C25.5886 28.9067 28.9065 25.5889 32.9996 25.5889C37.0928 25.5889 40.4106 28.9067 40.4106 32.9999C40.4106 37.093 37.0928 40.4109 32.9996 40.4109ZM32.9996 21.3643C26.5839 21.3643 21.364 26.5842 21.364 32.9999C21.364 39.4156 26.5839 44.6355 32.9996 44.6355C39.4153 44.6355 44.6353 39.4156 44.6353 32.9999C44.6353 26.5842 39.4153 21.3643 32.9996 21.3643Z"
          fill="#042A2B"></path>
        <path
          d="M46.2048 19.2192H43.6397C43.1492 19.2192 42.7476 19.6203 42.7476 20.1111V22.6765C42.7476 23.167 43.1492 23.5683 43.6397 23.5683H46.2048C46.6956 23.5683 47.097 23.167 47.097 22.6765V20.1111C47.097 19.6203 46.6956 19.2192 46.2048 19.2192Z"
          fill="#042A2B"></path>
      </svg>
      <h2 style="text-decoration-color: #383f57;">@ubcigem</h2>
    </div>
    <div class="contact-row">
      <svg width="72" height="64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask
          id="mask0_18_4286"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="7"
          y="7"
          width="45"
          height="47"
        >
          <path d="M7.13831 7.35205H51.8618V53.6669H7.13831V7.35205Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_18_4286)">
          <path
            d="M48.1478 7.35205H10.8742C8.81331 7.35205 7.15564 9.08886 7.15564 11.1963V49.8029C7.15564 51.9336 8.83579 53.6474 10.8742 53.6474H48.1253C50.1861 53.6474 51.8435 51.9104 51.8435 49.8029V11.1966C51.866 9.08886 50.2083 7.35205 48.1478 7.35205ZM20.3942 45.5418H13.786V25.0225H20.3942V45.5418ZM17.0789 22.5444C14.9958 22.5444 13.3157 20.8076 13.3157 18.6536C13.3157 16.5 14.9958 14.7629 17.0789 14.7629C19.1622 14.7629 20.8421 16.5 20.8421 18.6536C20.8421 20.8076 19.1622 22.5444 17.0789 22.5444ZM45.2581 45.5418H38.6277L38.4709 33.36C38.4709 33.36 38.6277 30.1176 35.2006 30.1409C31.7734 30.1638 31.3028 33.36 31.3028 33.36V45.5418H24.6277V25.0225H31.0342V27.8481C31.0342 27.8481 31.3028 26.9217 32.7812 25.8333C34.2596 24.7445 36.7012 24.513 37.7542 24.5595C38.807 24.6057 40.2404 24.4203 42.6373 26.1342C45.2131 27.9637 45.2806 32.7578 45.2806 32.7578L45.2581 45.5418Z"
            fill="#042A2B"></path>
        </g>
      </svg>
      <h2 style="text-decoration-color: #383f57;">UBC iGEM</h2>
    </div>
  </section>
  <section class="faq-section">
    <h1 style="text-decoration-color: #042a2c; margin-top: 0.5em; margin-bottom: 0.25em; font-weight: 700;">FAQ</h1>
    <div>
      <h2 style="font-size: 2.25em; font-weight: 900; margin-bottom: 0.1em; margin-top: 0.1em">
        How do I join the team?
      </h2>
      <p style="margin-bottom: 1em; margin-top: 0.5em">
        Follow our instagram for hiring updates! We typically hire at the beginning of each competition season, mid-end
        of September.
      </p>
    </div>
    <div>
      <h2 style="font-size: 2.25em; font-weight: 900; margin-bottom: 0.1em; margin-top: 0.1em">
        Do you accept students from any year level?
      </h2>
      <p style="margin-bottom: 1em; margin-top: 0.5em">
        Yes! Some of our most valued members have been on the team since their first year. As long as you are an
        undergraduate student eager to learn and work well in a team context for a common goal, come join us!
      </p>
    </div>
    <div>
      <h2 style="font-size: 2.25em; font-weight: 900; margin-bottom: 0.1em; margin-top: 0.1em">
        What background do I need to have to join iGEM?
      </h2>
      <p style="margin-bottom: 1em; margin-top: 0.5em">
        As an interdisciplinary team, we welcome students from all backgrounds! Our team currently consists of members
        from over 12 disciplines, contributing to different aspects of our work ranging from administration to building
        hardware.
      </p>
    </div>
    <div>
      <h2 style="font-size: 2.25em; font-weight: 900; margin-bottom: 0.1em; margin-top: 0.1em">
        Do I need to have any particular experience to be considered?
      </h2>
      <p style="margin-bottom: 1em; margin-top: 0.5em">
        Not necessarily. We look for students with willingness to learn and genuine enthusiasm! Since synthetic biology
        is a niche subject, we do not expect extensive knowledge of the field. BUT we do require you to complement this
        with an eagerness to learn the necessary concepts and skills.
      </p>
    </div>
  </section>

  <section class="acknowledgement-section">
    <>
      <p class="acknowledgement-text">
        We respectfully acknowledge that our team is based at the UBC Point Grey (Vancouver) campus, which is located on
        the traditional, ancestral, unceded territory of the xʷməθkʷəy̓əm (Musqueam) First Nation.
      </p>
    </>
    <>
      <footer class="footer-content">
        <div class="footer-main-area">
          <div>
            <img src="/Igem.svg" alt="UBC iGEM Logo" class="footer-logo" />
          </div>

          <div class="footer-nav">
            <nav>
              <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/past-projects">Past Projects</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="social-icons" style="padding-top: 7.5%;">
          <a href="mailto:contact@ubcigem.com" aria-label="Email">
            <img src="/email.svg" alt="Email" />
          </a>
          <a href="https://instagram.com/ubcigem" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <img src="/instagram.svg" alt="Instagram" />
          </a>
          <a
            href="https://linkedin.com/company/ubcigem"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <img src="/linkedin.svg" alt="LinkedIn" />
          </a>
        </div>
      </footer>
    </>

  </section></Layout
>
 