---
import Layout from '../layouts/Layout.astro'
import { Content as FaqContent } from '../content/faq.md'
---

<Layout title="Contact Us">
  <section class="contact">
    <h1 class="page-title">Contact Us</h1>
    <div class="socials">
      <a href="mailto:contact@ubcigem.com">
        <img src="/email-green.svg" alt="UBC iGEM Email" />
        <h2>contact@ubcigem.com</h2>
      </a>
      <a href="https://www.instagram.com/ubcigem/?hl=en" target="_blank" rel="noopener noreferrer">
        <img src="/instagram-green.svg" alt="UBC iGEM Instagram" />
        <h2>@ubcigem</h2>
      </a>
      <a href="https://www.linkedin.com/company/ubcvigem/posts/?feedView=all" target="_blank" rel="noopener noreferrer">
        <img src="/linkedin-green.svg" alt="UBC iGEM LinkedIn" />
        <h2>UBC iGEM</h2>
      </a>
    </div>
  </section>
  <section class="faq">
    <h1 class="page-title">FAQ</h1>
    <FaqContent />
  </section>
</Layout>

<style>
  .contact {
		display: flex;
		flex-direction: column;
		padding-bottom: 5rem;
    background-color: var(--color-primary-green);
    border-bottom: var(--black-border);
  }

  .socials {
    padding: 0 var(--page-inline-inset);

    a {
      width: fit-content;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: var(--border-width);
        text-underline-offset: 4px;
      }
    }

    img {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      margin-right: 12px;
    }

    h2 {
      font-family: var(--open-sans);
      font-size: clamp(1.25rem, 2vw, 2rem);
      font-weight: normal;
      margin: 1rem 0;
    }
  }

  .faq {
    padding-bottom: 5rem;

    h2 {
      font-size: 2.25rem;
      font-weight: bold;
      padding: 0 var(--page-inline-inset);
      margin: 0;
    }

    p {
      font-family: var(--open-sans);
      font-size: 1.4rem;
      padding: 0 var(--page-inline-inset);
      margin-bottom: 2rem;
    }
  }
</style>