---
import Layout from "../layouts/Layout.astro"


const images = [
  {img: 'pat.png', alt: 'the goat'},
  {img: 'guy-at-bsc.png', alt: 'guy at bsc'},
  {img: 'guy-looking-at-tubes.png', alt: 'tubes!!'},
  {img: 'igem-petri-dishes.png', alt: 'petri dish dish petri petri dish dish petri'},
]
---


<Layout title="How We Work">
  <div class="page-content">
    <div class="carousel">
      <img id="img1" src="/static/subteam-pics/pat.png" alt="pat" class="active"/>
      <p>the goat</p>
      <img id="img2" src="/static/subteam-pics/guy-at-bsc.png" alt="guy-at-bsc" />
      <p>guy at bsc</p>
      <img id="img3" src="/static/subteam-pics/guy-looking-at-tubes.png" alt="guy-looking-at-tubes" />
      <p>guy looking at tubes</p>
      <img id="img4" src="/static/subteam-pics/igem-petri-dishes.png" alt="igem-petri-dishes" />
      <p>petri dish dish petri petri dish dish petri</p>
      <div class="divider" />
      <div class="carousel-buttons">
        <button class="prev-button">prev</button>
        <button class="next-button">next</button>
      </div>
    </div>
  </div>
</Layout>

<script>
  const handleCarouselButtonClick = (
    event: Event,
    findNextActiveImage: (carousel: Element, currentActive: Element) => Element
  ) => {
    const cause_button = event.target as HTMLButtonElement
    const carousel = cause_button.closest(".carousel")!

    const currentActive = carousel.querySelector(".active")!
    const nextActive = findNextActiveImage(carousel, currentActive)

    currentActive.classList.remove("active")
    nextActive.classList.add("active")
    nextActive.scrollIntoView({block: "nearest", inline: "nearest"})
  }

  const nextButtonHandler = (event: Event) => handleCarouselButtonClick(
    event,
    (carousel, _) => carousel.querySelector(
      ".active + p + img"
    ) ?? carousel.firstElementChild!
  )

  const prevButtonHandler = (event: Event) => handleCarouselButtonClick(
    event,
    (carousel, currentActive) => currentActive.previousElementSibling?.previousElementSibling
      ?? carousel.querySelector("img:last-of-type")!
  )

  document.querySelectorAll(".next-button").forEach(x => x.addEventListener("click", nextButtonHandler))
  document.querySelectorAll(".prev-button").forEach(x => x.addEventListener("click", prevButtonHandler))
</script>

<style>
  :root {
    --carousel-img-height: 400px;
    --carousel-border: 2px solid var(--border-color);
  }

  .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: var(--carousel-img-height) 2px 1fr;
    overflow-x: auto;
    border-top: var(--carousel-border);
    border-bottom: var(--carousel-border);

    margin: 56px calc(clamp(100px, 10vw, 1080px) - 100px);
  }

  .carousel > img {
    grid-row: 1;
    height: calc(var(--carousel-img-height) - 60px);
    border: 3px solid var(--border-color);
    border-radius: var(--border-radius-sm);
    margin: 30px 20px;
  }

  p {
    display: none;
  }

  .active {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  }

  .active + p {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    position: sticky;
    left: 10px;
    white-space: preserve nowrap;
    min-width: 0;
  }

  .carousel-buttons {
    grid-row: 3;
    justify-self: end;
    position: sticky;
    right: 10px;

    button {
      height: 64px;
      width: 64px;
    }
  }

  .divider {
    grid-row: 2;
    /* this looks cursed but it's actually impossible to
     * force a grid item to span to the last column in an
     * implicit grid: https://stackoverflow.com/a/44053668/17879981
     */
    grid-column: 1 / 99;
    border-top: var(--carousel-border);
  }
</style>
