---
import Layout from "../layouts/Layout.astro"
import Carousel from "../components/Carousel.astro"


const images = [
  {img: 'pat.png', caption: 'the goat'},
  {img: 'guy-at-bsc.png', caption: 'Consectetur voluptate velit cupidatat et est quis. Amet dolore velit eiusmod dolor enim ex aute laborum magna esse sit. Id mollit magna irure sint amet mollit fugiat qui non in ipsum reprehenderit nulla amet officia. Esse officia amet veniam cupidatat qui reprehenderit ad ut consequat nostrud cupidatat nisi.'},
  {img: 'guy-looking-at-tubes.png', caption: 'tubes!!'},
  {img: 'igem-petri-dishes.png', caption: 'petri dish dish petri petri dish dish petri dish dish petri'},
]
---


<Layout title="How We Work">
  <div class="page-content">
    <Carousel imgs={images} />
  </div>
</Layout>
