---
import Layout from "../layouts/Layout.astro"


const images = [
  {img: 'pat.png', alt: 'the goat'},
  {img: 'guy-at-bsc.png', alt: 'guy at bsc'},
  {img: 'guy-looking-at-tubes.png', alt: 'tubes!!'},
  {img: 'igem-petri-dishes.png', alt: 'petri dish dish petri petri dish dish petri'},
]
---


<Layout title="How We Work">
  <div class="page-content">
    <div class="carousel">
      <img src="/static/subteam-pics/pat.png" alt="pat" class="active"/>
      <div class="caption">
        <p>the goat</p>
      </div>
      <img src="/static/subteam-pics/guy-at-bsc.png" alt="guy-at-bsc" />
      <div class="caption">
        <p>guy at bsc</p>
      </div>
      <img src="/static/subteam-pics/guy-looking-at-tubes.png" alt="guy-looking-at-tubes" />
      <div class="caption">
        <p>guy looking at tubes</p>
      </div>
      <img src="/static/subteam-pics/igem-petri-dishes.png" alt="igem-petri-dishes" />
      <div class="caption">
        <p>igem petri dishes</p>
      </div>
    </div>
  </div>
</Layout>

<style>
  :root {
    --carousel-img-height: 400px;
  }

  .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: var(--carousel-img-height) 1fr;
    overflow-x: auto;

    margin: 10vw;
  }

  .carousel > img {
    grid-row: 1;
    height: calc(var(--carousel-img-height));
  }

  .caption {
    display: none;
  }

  .active + .caption {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2;
    position: sticky;
    left: 10px;
  }
</style>
