---
import Layout from "../layouts/Layout.astro"
import Carousel, { type CarouselImg } from "../components/Carousel.astro"
import subteamInfo from "../data/subteamInfo.json"

type SubteamInfo = {
  name: string;
  description: string;
  colourVar: string;
  imgs: CarouselImg[];
}

const subteams = subteamInfo as SubteamInfo[]
---

<Layout title="How We Work">
  <div class="page-content">
    <h1>How We Work</h1>
    {subteams.map((x) => (
      <div class="subteam" id={`${x.name.toLowerCase().replace(' ', '-')}`}>
        <div class="subteam-info-box">
          <h2>{x.name}</h2>
          <p>{x.description}</p>
        </div>
        {x.imgs.length !== 0 && (
          <Carousel imgs={x.imgs} />
        )}
      </div>
    ))}
  </div>
</Layout>
