---
import Layout from '../layouts/Layout.astro';
import { Content as HeroContent } from '../content/we-are-ubc-igem.md'
import { Content as AboutCompetitionContent } from '../content/about-the-competition.md'
---

<Layout title="UBC iGEM">
  <div class="section-box hero-box">
    <h1 class="title">UBC iGEM</h1>
    <div role="doc-subtitle">Building a better future through synthetic biology</div>
    <div>
      <img
        src="team-photos/2024-team-photo.png"
        alt="The UBC iGEM team in 2024."
      />
      <img
        src="team-photos/2024-jamboree-photo.jpg"
        alt="UBC iGEM team members at the 2024 Jamboree."
      />
      <div class="frosted-box">
        <HeroContent />
        <a href="/past-projects">View our latest project</a>
      </div>
    </div>
  </div>
  <div class="stats-section">
    <div class="stats">
      <div class="stats-box">
        <img
          src="static/icons/cake.svg"
        />
        <p>15 Years of Competing</p>
        <p>2009-2019, 2021-2025</p>
      </div>
      <div class="stats-box">
        <img
          src="static/icons/prize.svg"
        />
        <p>7 Special Prize Nominations</p>
        <p>Biomanufacturing, Diagnostics, and more!!</p>
      </div>
      <div class="stats-box">
        <img
          src="static/icons/medal.svg"
        />
        <p>10 Gold Medals</p>
        <p>2024, 2022, 2021, 2019, 2016, 2015, 2013, 2012, 2011, 2010</p>
      </div>
      <div class="stats-box">
        <img
          src="static/icons/trophy.svg"
        />
        <p>3 Special Prize Wins</p>
        <p>
          Best Hardware (2024), Sustainable Development Impact (2024), Model (2013)
        </p>
      </div>
    </div>
  </div>
  <div class="section-box about-competition-box">
    <div class="frosted-box">
      <AboutCompetitionContent />
    </div>
    <div>
      <img
        src="2024-igem-jamboree-awards.png"
        alt="Awards won by the team at the 2024 iGEM Jamboree."
      />
      <img
        src="2024-igem-jamboree-audience.png"
        alt="Teams at the 2024 iGEM Jamboree."
      />
      <img
        src="2024-igem-jamboree-screen-banner.png"
        alt="A banner at the 2024 iGEM Jamboree."
      />
      <img
        src="2024-igem-jamboree-directors.jpg" 
        alt="Our 2024 team directors at the iGEM Jamboree!"
      />
    </div>
  </div>
</Layout>

<style>
  h1 {
    margin: 0;
  }

  [role="doc-subtitle"] {
    font-size: 30px;
    font-weight: 500;
  }

  .section-box {
    padding: 3rem var(--page-horizontal-padding);

    img {
      border: var(--border-width) solid var(--border-color);
      border-radius: var(--border-radius-md);
    }
  }

  .stats {
    padding: 3rem clamp(1rem, 5vw, var(--page-horizontal-padding));

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 170px;
    gap: 1.5rem;
    max-width: var(--max-width);
  }

  .frosted-box {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-md);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h2 {
      margin: 0;
    }

    p {
      font-family: 'Open Sans';
    }
  }

  .hero-box {
    background-color: var(--color-primary-green);
    border-bottom: var(--border-width) solid var(--border-color);

    h2 {
      font-size: 30px;
      font-weight: 500;
    }

    a {
      text-transform: uppercase;
      border: var(--border-width) solid var(--border-color);
      border-radius: var(--border-radius-sm);
      background-color: var(--color-primary-yellow);
      padding: 23px 49px;
      justify-content: center;
      box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.3);

    }
  }

  .hero-box > div:last-child {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 3fr;
    gap: 35px;
    margin-top: 3rem;

    > img {
      grid-column: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    img:first-of-type {
      object-position: 30%;
    }

    > div {
      grid-column: 2;
      grid-row: 1 / -1;
      display: grid;
      justify-content: space-evenly;

      padding: 34px 47px;
      background-color: var(--color-secondary-green);
    }
  }

  @media (max-width: 945px) {
    .hero-box > div:last-child {
      grid-template-columns: 1fr 1fr;

      > img {
        grid-column: auto;
      }

      > div {
        grid-column: 1 / -1;
        grid-row: 2;
      }
    }
  }

  @media (max-width: 650px) {
    .hero-box > div:last-child {
      grid-template-columns: 1fr;
      gap: 15px;

      > img {
        grid-column: auto;
      }

      > div {
        grid-column: auto;
        grid-row: 3;
      }
    }

    .about-competition-box > div:last-child {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  .about-competition-box {
    background-color: var(--color-primary-peach);
    border-top: var(--border-width) solid var(--border-color);

    div:first-child {
      background-color: var(--color-secondary-peach);
      padding: 30px 24px;
      margin-bottom: 2rem;
    }

    div:last-child {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;

      > img {
        grid-column: span 3;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      img:first-of-type, img:last-of-type {
        grid-column: span 2;
      }
    }
  }

  .stats-section {
    display: grid;
    justify-content: center;
  }

  .stats-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 0px;
    column-gap: 1rem;
    align-items: center;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-sm);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;

    * {
      margin: 0;
    }

    > img {
      grid-row: span 2;
      justify-self: center;
      width: 100%;
      max-width: 100px;
      max-width: 65px;
    }

    p:first-of-type {
      font-size: 1.5rem;
    }

    p:last-of-type {
      opacity: 0%;
      /* visibility: hidden; */
      height: 0;
    }

  }

  .stats-box:hover {
    grid-template-rows: 1fr 1fr;

    p:first-of-type {
      align-self: end;
    }

    p:last-of-type {
      /* visibility: visible; */
      align-self: start;
      opacity: 100%;
      height: auto;
    }
  }

  @media (max-width: 824px) {
    .stats {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      padding-left: clamp(3rem, 6vw, var(--page-horizontal-padding));
      padding-right: clamp(3rem, 6vw, var(--page-horizontal-padding));

      .stats-box {
        /* min-height: 9rem; */
      }
    }
  }
</style>
