---
import Layout from '../layouts/Layout.astro';
import { Content as HeroContent } from '../content/we-are-ubc-igem.md'
import { Content as AboutCompetitionContent } from '../content/about-the-competition.md'
---

<Layout title="UBC iGEM">
  <div class="section-box hero-box">
    <h1 class="title">UBC iGEM</h1>
    <div role="doc-subtitle">Building a better future through synthetic biology</div>
    <div>
      <img
        src="team-photos/2024-team-photo.png"
        alt="The UBC iGEM team in 2024."
      />
      <img
        src="team-photos/2024-jamboree-photo.jpg"
        alt="UBC iGEM team members at the 2024 Jamboree."
      />
      <div class="frosted-box">
        <HeroContent />
        <a href="/past-projects">View our latest project</a>
      </div>
    </div>
  </div>
  <div class="section-box about-competition-box">
    <div class="frosted-box">
      <AboutCompetitionContent />
    </div>
    <div>
      <img
        src="2024-igem-jamboree-awards.png"
        alt="Awards won by the team at the 2024 iGEM Jamboree."
      />
      <img
        src="2024-igem-jamboree-audience.png"
        alt="Teams at the 2024 iGEM Jamboree."
      />
      <img
        src="2024-igem-jamboree-screen-banner.png"
        alt="A banner at the 2024 iGEM Jamboree."
      />
      <img
        src="2024-igem-jamboree-directors.jpg" 
        alt="Our 2024 team directors at the iGEM Jamboree!"
      />
    </div>
  </div>
</Layout>

<style>
  h1 {
    margin: 0;
  }

  [role="doc-subtitle"] {
    font-size: 30px;
    font-weight: 500;
  }

  .section-box {
    padding: 3rem var(--page-horizontal-padding);
    border-bottom: var(--border-width) solid var(--border-color);

    img {
      border: var(--border-width) solid var(--border-color);
      border-radius: var(--border-radius-md);
    }
  }

  .frosted-box {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-md);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h2 {
      margin: 0;
    }

    p {
      font-family: 'Open Sans';
    }
  }

  .hero-box {
    background-color: var(--color-primary-green);

    h2 {
      font-size: 30px;
      font-weight: 500;
    }

    a {
      text-transform: uppercase;
      border: var(--border-width) solid var(--border-color);
      border-radius: var(--border-radius-sm);
      background-color: var(--color-primary-yellow);
      padding: 23px 49px;
      justify-content: center;
      box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.3);

    }
  }

  .hero-box > div:last-child {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 3fr;
    gap: 35px;
    margin-top: 3rem;

    > img {
      grid-column: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    img:first-of-type {
      object-position: 30%;
    }

    > div {
      grid-column: 2;
      grid-row: 1 / -1;
      display: grid;
      justify-content: space-evenly;

      padding: 34px 47px;
      background-color: var(--color-secondary-green);
    }
  }

  @media (max-width: 945px) {
    .hero-box > div:last-child {
      grid-template-columns: 1fr 1fr;

      > img {
        grid-column: auto;
      }

      > div {
        grid-column: 1 / -1;
        grid-row: 2;
      }
    }
  }

  @media (max-width: 650px) {
    .hero-box > div:last-child {
      grid-template-columns: 1fr;
      gap: 15px;

      > img {
        grid-column: auto;
      }

      > div {
        grid-column: auto;
        grid-row: 3;
      }
    }

    .about-competition-box > div:last-child {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  .about-competition-box {
    background-color: var(--color-primary-peach);

    div:first-child {
      background-color: var(--color-secondary-peach);
      padding: 30px 24px;
      margin-bottom: 2rem;
    }

    div:last-child {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;

      > img {
        grid-column: span 3;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      img:first-of-type, img:last-of-type {
        grid-column: span 2;
      }
    }
  }
</style>
