<nav class="navigation">
  <div class="navigation-container">
    <a href="/" class="logo">
      <img src="src/assets/igem-logo.svg" alt="UBC iGEM Logo" />
    </a>
    <button id="navigation-menu-button" aria-label="Toggle navigation menu">☰</button>
    <div id="navigation-links">
      <a href="/">Home</a>
      <a href="/about-us">About Us</a>
      <a href="/our-team">Our Team</a>
      <a href="/sponsors">Sponsors</a>
      <a href="/past-projects">Past Projects</a>
      <a href="/gallery">Gallery</a>
      <a href="/contact-us">Contact Us</a>
    </div>
  </div>
</nav>
<div id="navigation-placeholder" />

<script>
  const menuButton = document.getElementById('navigation-menu-button')
  const links = document.getElementById('navigation-links')

  if (menuButton instanceof HTMLButtonElement && links instanceof HTMLElement) {
    menuButton.addEventListener('click', () => {
      menuButton.classList.toggle('open')
      links.classList.toggle('open')

      const isOpen = menuButton.classList.contains('open')
      menuButton.textContent = isOpen ? '×' : '☰'
      menuButton.setAttribute('aria-expanded', String(isOpen))
    })
  }
</script>

<style>
  :root {
    --navigation-height: 7rem;
  }

  .navigation {
    display: flex;
    position: fixed;
    width: 100%;
    height: var(--navigation-height);
    background-color: var(--background-color);
    border-bottom: var(--border-width) solid var(--border-color);
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .navigation-container {
    display: flex;
    width: var(--max-width);
    height: 100%;
    padding: 0 min(3rem, 3vw) 0 min(2rem, 2vw);
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: auto;
    height: 80%;
  }

  .logo img {
    width: auto;
    height: 100%;
  }

  #navigation-menu-button {
    display: none;
  }

  #navigation-links {
    display: flex;
    gap: min(3rem, 3vw);
    font-weight: 500;
  }

  #navigation-placeholder {
    width: auto;
    height: var(--navigation-height);
    background-color: transparent;
  }

  /* Mobile Device Layout */
  @media (max-width: 850px) {
    body {
      padding-bottom: var(--navigation-height) !important;
    }

    .navigation {
      bottom: 0;
      background-color: var(--color-primary-green);
      border-top: var(--border-width) solid var(--border-color);
      border-bottom: none;
    }

    .navigation-container {
      padding: 0 3rem 0 2rem;
    }

    #navigation-menu-button {
      display: flex;
      width: auto;
      height: 100%;
      background-color: transparent;
      border: none;
      padding: 0;
      font-family: inherit;
      font-size: 4rem;
      cursor: pointer;
    }

    #navigation-menu-button.open {
      width: auto;
      height: auto;
      margin-right: 0.5rem;
    }

    #navigation-links {
      display: none;
    }

    #navigation-links.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: calc(var(--navigation-height) - var(--border-width));
      right: 0;
      gap: 1rem;
      padding: 1rem 2rem;
      background-color: var(--color-primary-green);
      border-top: var(--border-width) solid var(--border-color);
      border-left: var(--border-width) solid var(--border-color);
      border-top-left-radius: var(--border-radius-md);
      align-items: flex-end;
    }

    #navigation-links a {
      padding: 0.5rem 0;
    }

    #navigation-placeholder {
      display: none;
    }
  }
</style>
