<nav class="navigation">
  <div class="navigation-container">
    <a href="/" class="logo">
      <img src="/igem-logo.svg" alt="UBC iGEM Logo" draggable="false" />
    </a>
    <div id="navigation-menu">
      <a href="/">Home</a>
      <a href="/how-we-work">How We Work</a>
      <a href="/our-team">Our Team</a>
      <a href="/sponsors">Sponsors</a>
      <a href="/past-projects">Past Projects</a>
      <a href="/gallery">Gallery</a>
      <a href="/contact-us">Contact Us</a>
    </div>
    <button id="navigation-menu-button" aria-label="Toggle navigation menu" aria-expanded="false">☰</button>
  </div>
</nav>

<script>
  const menu = document.getElementById('navigation-menu')
  const menuButton = document.getElementById('navigation-menu-button')

  if (menu instanceof HTMLElement && menuButton instanceof HTMLButtonElement) {
    menuButton.addEventListener('click', () => {
      menu.classList.toggle('open')
      menuButton.classList.toggle('open')

      const isOpen = menuButton.classList.contains('open')
      menuButton.textContent = isOpen ? '×' : '☰'
      menuButton.setAttribute('aria-expanded', String(isOpen))
    })
  }
</script>

<style is:inline>
  :root {
    --navigation-height: 7rem;
  }

  body {
    padding-top: var(--navigation-height);
  }

  .navigation {
    display: flex;
    position: fixed;
    width: 100%;
    height: var(--navigation-height);
    top: 0;
    background-color: var(--background-color);
    border-bottom: var(--border-width) solid var(--border-color);
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .navigation-container {
    display: flex;
    width: var(--max-width);
    height: 100%;
    padding: 0 min(3rem, 3vw) 0 min(2rem, 2vw);
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: auto;
    height: 80%;
  }

  .logo img {
    width: auto;
    height: 100%;
  }

  #navigation-menu {
    display: flex;
    gap: min(3rem, 3vw);
    font-weight: 500;
  }
  
  #navigation-menu a:hover {
    color: var(--color-primary-green);
  }

  #navigation-menu-button {
    display: none;
    user-select: none;
  }

  /* Mobile Device Layout */
  @media (max-width: 900px) {
    body {
      padding-top: 0;
      padding-bottom: var(--navigation-height);
    }

    .navigation {
      top: initial;
      bottom: 0;
      background-color: var(--background-color);
      border-top: var(--border-width) solid var(--border-color);
      border-bottom: none;
    }

    .navigation-container {
      padding: 0 3rem 0 2rem;
    }

    #navigation-menu {
      flex-direction: column;
      position: absolute;
      height: calc(100vh - var(--navigation-height) + var(--border-width));
      bottom: calc(var(--navigation-height) - var(--border-width));
      right: 0;
      gap: 1rem;
      padding: 1rem 2rem;
      background-color: var(--background-color);
      border-left: var(--border-width) solid var(--border-color);
      align-items: flex-end;
      justify-content: flex-end;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
    }

    #navigation-menu.open {
      transform: translateX(0);
    }

    #navigation-menu a {
      padding: 0.5rem 0;
    }

    #navigation-menu-button {
      display: flex;
      width: auto;
      height: 100%;
      background-color: transparent;
      border: none;
      padding: 0;
      font-family: inherit;
      font-size: 4rem;
      cursor: pointer;
    }

    #navigation-menu-button.open {
      width: auto;
      height: auto;
      margin-right: 0.5rem;
    }
  }
</style>
